:root {
  --standardBackgroundColor: #b5b5b5;
  --lightBackgroundColor: #eeeeee;
  --tableColor: #d2d2d2;
  --activeColor: #4b51af;
  --lightactiveColor: #8e92c9;
  --buttonColor: #b0b2d3;
  --deleteButtonColor: #ff7c7c;
  --darkinputbox: #7277bc;

  --div1grey: #f5f5f5;
  --div2grey: #d8d8d8;
  --actionblue: #4b51af;
  --box1blue: #b0b2d3;
  --box2blue: #8f98cf;
  --deletered: #994b64;
}

* {
  background-color: var(--lightBackgroundColor);
  font-family: OCR A Std, monospace;
  /* margin: 0px;
  padding: 0px; */
}

body > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > div > div > * {
  width: 95%;
}

/* _____________________SIGNUP, LOGIN_____________________________________________________ */
.id,
.password {
  /*input box*/
  width: 300px;
  height: 40px;
  font-size: 1em;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--standardBackgroundColor);
}

input[value="Log in"],
input[value="Create"],
input[value="Sign up"],
input[value="Save"],
.done-button {
  /*buttons*/
  width: 100px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  margin: 20px 0;
  background-color: var(--buttonColor);
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.auth_button {
  /*로그인 버튼 위치*/
  width: 310px;
}

.margin * {
  margin: 5px 5px 0 0;
}

/* ____________________NAVBAR_____________________________________________________________ */
.center {
  display: flex;
  justify-content: center;
}
.nav {
  background-color: var(--lightBackgroundColor);
  width: 800px;
  height: 80px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
}
.nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0px;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav li.active {
  color: var(--activeColor);
}

.nav li:hover {
  color: var(--lightactiveColor);
}

.logout {
  display: flex;
  justify-content: right;
}
.username {
  margin-right: 10px;
}
/* ______________________________Grade Eval________________________________________ */
.grade_display {
  background-color: inherit;
  justify-self: center;
  border-spacing: 0px;
}

.grade_header {
  height: 80px;
  width: 800px;
  font-size: 20px;
}
.grade_display * {
  background-color: var(--tableColor);
}

.course_contents {
  background-color: var(--lightactiveColor);
}
.course_contents * {
  padding: 0;
}

th {
  border-bottom: 2px solid black;
}

td > .course_details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: 30px;
  padding-left: 5px;
  background-color: var(--lightactiveColor);
  overflow: scroll;
}
td > .course_name,
td > .course_name1 {
  display: flex;
  align-items: center;
  height: 100px;
  margin-top: 30px;
  padding-left: 10px;
  background-color: var(--lightactiveColor);
}

tbody,
.header {
  font-weight: 900;
  font-size: 20px;
}

.course_name {
  width: 400px;
  text-align: left;
}
tbody .course_name,
tbody .course_name1 {
  font-size: 30px;
}
.course_score,
.course_letter {
  width: 180px;
  text-align: center;
}

/* _____________________________Edit Grade Eval_______________________ */
.background_box .itembox {
  margin-left: 50px;
  margin-top: 30px;
  width: 700px;
  background-color: var(--buttonColor);
  border-radius: 15px;
}
.trashcan {
  font-size: 30px;
  border: none;
  background-color: inherit;
}
.itembox .space-between,
.percentage {
  background-color: inherit;
}
.space-between {
  border-radius: 15px;
}
.percentage {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-bottom: 10px;

  border-radius: 15px;
}

.margin-top-right {
  margin-top: 10px;
  margin-right: 10px;
}
.item-input {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 50%;
  font-weight: 700;
  font-size: 15px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  padding-left: 5px;
  background-color: var(--darkinputbox);
  color: #fcfcfc;
  border: 0.5 solid grey;
}

.number-input {
  font-weight: 700;
  font-size: 15px;
  width: 40px;
  height: 30px;
  border-radius: 10px;
  padding-left: 5px;
  background-color: var(--darkinputbox);
}

/* ______________________________Todo___________________________ */

.header {
  font-size: 20px;
  padding-inline-start: 0px;
  list-style-type: none;
  background-color: var(--tableColor);
  padding: 10px;
  border-bottom: 2px solid black;
}

.task-color {
  color: rgb(74, 74, 74);
}

.header > li,
.inline-block {
  display: inline-block;
  background-color: inherit;
}
.flex {
  display: flex;
  background-color: inherit;
}

.task * {
  background-color: inherit;
  display: inline-block;
  font-weight: 900;
  font-size: 20px;
}
.task {
  margin-top: 20px;
  background-color: var(--lightactiveColor);
}
.course {
  width: 200px;
}
.task-name {
  width: 200px;
}
.posted-date {
  width: 130px;
}
.due-date {
  width: 100px;
}

.task-display {
  margin: 10px;
}
.edit_background_box > div,
.edit_background_box > h4,
.background_box > div,
.background_box > h4 {
  background-color: inherit;
}

[type="radio"] {
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 2.25em;
  height: 2.25em;
  accent-color: var(--actionblue);
}

/* ____________________________Edit Todo__________________________________ */
.taskbox {
  font-weight: 900;
  font-size: 20px;
  width: 300px;
  height: 40px;
  border-radius: 13px;
  padding-left: 5px;
  background-color: var(--buttonColor);
  color: #fcfcfc;
  border: 0.5 solid grey;
}

.dateInput,
.space-between {
  display: flex;
  justify-content: space-between;
}

.dates {
  width: 400px;
  display: flex;
  font-size: 35px;
  background-color: inherit;
  justify-content: space-between;
}

.dateInput input {
  font-weight: 900;
  font-size: 20px;
  width: 100px;
  height: 40px;
  border-radius: 13px;
  padding-left: 5px;
  background-color: var(--buttonColor);
  color: #fcfcfc;
  border: 0.5 solid grey;
}

/* ______________________________CourseInfo______________________________ */
.course_name1 {
  width: 330px;
  text-align: left;
  /* border-bottom: 2px solid black; */
}
.course_prof,
.course_room {
  width: 120px;
  text-align: center;
}
.course_memo {
  width: 150px;
  text-align: center;
}

/* _______________________________Edit Course Info________________________________ */
/* .detail_box {
  margin-top: 90px;
  padding: 30px;
} */

.background_box > h4 {
  margin-bottom: 0px;
}

.inputbox {
  font-weight: 900;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 13px;
  padding-left: 5px;
  background-color: var(--buttonColor);
  color: #fcfcfc;
  border: 0.5 solid grey;
}
.inputbox:disabled {
  color: #5a5a5a;
}

.roomNo {
  width: 100px;
}

.memobox {
  border: 2px solid black;
  font-weight: 300;
  color: #fcfcfc;
  font-size: 15px;
  width: 700px;
  height: 300px;
  border-radius: 13px;
  padding-left: 5px;
  background-color: var(--buttonColor);
  text-align: left;
  padding: 10px;
}
.memo {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: var(--lightactiveColor);
}
/* ____________________Reusable_____________________________________________________________ */
.flexible_body {
  max-width: 800px;
}

.align {
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.align_right {
  display: flex;
  justify-content: flex-end;
}

.align_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  color: var(--lightBackgroundColor);
}
.button:active {
  background-color: var(--activeColor);
  border: none;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.horizontal_line {
  width: 99%;
  border: 1.5px solid black;
}

.navbutton,
#sort {
  /*buttons*/
  width: 100px;
  margin-bottom: 10px;
  height: 40px;
  padding: 5px;
  background-color: var(--buttonColor);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
#sort {
  width: 120px;
  height: 50px;
}

.returnlogin {
  width: 80px;
  height: 20px;
  padding: 5px;
  background-color: var(--lightBackgroundColor);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.returnbutton {
  /*buttons*/
  width: 80px;
  height: 20px;
  padding: 5px;
  background-color: var(--buttonColor);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.margin_left {
  margin-left: 20px;
}
.margin_right {
  margin-right: 30px;
}
.margin_top {
  margin-top: 10px;
}
.padding_right {
  padding-right: 30px;
}

.display-right {
  margin-left: 86%;
}

.display-right1 {
  margin-left: 83%;
}
li {
  list-style: none;
}

.background_box {
  background-color: var(--tableColor);
  padding: 20px 20px 50px 20px;
}
.edit_background_box {
  background-color: var(--tableColor);
}

.edit_box {
  height: 900px;
}

.big-size {
  font-size: 27px;
}
.biggest-size {
  font-size: 50px;
}

.deletebutton {
  /*buttons*/
  width: 200px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  margin: 20px 0;
  background-color: var(--buttonColor);
  border-radius: 5px;
  color: brown;
  border: none;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.deletebutton:hover {
  color: var(--lightBackgroundColor);
}
.deletebutton:active {
  background-color: brown;
  border: none;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.buttons_display {
  display: flex;
  justify-content: space-between;
}
