:root {
  --standardBackgroundColor: #b5b5b5;
  --lightBackgroundColor: #eeeeee;
  --activeColor: #4b51af;
  --lightactiveColor: #8e92c9;
  --buttonColor: #b0b2d3;
  --deleteButtonColor: #ff7c7c;

  --div1grey: #f5f5f5;
  --div2grey: #d8d8d8;
  --actionblue: #4b51af;
  --box1blue: #b0b2d3;
  --box2blue: #8f98cf;
  --deletered: #994b64;
}

* {
  background-color: var(--lightBackgroundColor);
  font-family: OCR A Std, monospace;
  margin: 0px;
  padding: 0px;
}

body > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > div > div > * {
  width: 95%;
}

/* _____________________SIGNUP, LOGIN_____________________________________________________ */
.id,
.password {
  /*input box*/
  width: 300px;
  height: 40px;
  font-size: 1em;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--standardBackgroundColor);
}

input[value='Log in'],
input[value='Create'],
input[value='Sign up'] {
  /*buttons*/
  width: 100px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  margin: 20px 0;
  background-color: var(--buttonColor);
  border: none;
  border-radius: 5px;
}

.auth_button {
  /*로그인 버튼 위치*/
  width: 52%;
}

/* ____________________NAVBAR_____________________________________________________________ */

.nav {
  background-color: var(--standardBackgroundColor);
  max-width: 800px;
  height: 80px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav li.active {
  color: var(--activeColor);
}

.nav li:hover {
  color: var(--lightactiveColor);
}

.logout {
  display: flex;
  justify-content: right;
}
.username {
  margin-right: 10px;
}

/* ____________________Reusable_____________________________________________________________ */
.flexible_body {
  max-width: 600px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}
.container * {
  margin: 5px 5px 0 0;
}

.align_right {
  display: flex;
  justify-content: flex-end;
}

.align_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  color: var(--lightBackgroundColor);
}
.button:active {
  background-color: var(--activeColor);
}
